//-----------------------------------------------------
// scss: 変数設定
//-----------------------------------------------------

// カンプ / コンテンツ幅の指定
$sp-full-width: 390;  // スマホ用のカンプ幅
$pc-full-width: 1500;    // PC用のカンプ幅
$pc-content-width: 1200; // PC用のカンプのコンテンツ幅(ガイド線の幅)

// ブレークポイント設定
// スマホ: 
//    0px ~ 768px未満 -> スマホ用のカンプをベースにvwで実装
// タブレット: 
//    768px ~ PCコンテンツ幅未満 -> PC用のカンプをベースにvwで実装。予算の多い案件ではタブレット用のカンプが提供される場合もある。
// PC: 
//    PCコンテンツ幅以上 -> PC用のカンプをベースにpx(rem)で実装
$breakpoint-md: 768;
$breakpoint-lg: $pc-content-width;

// 本番用か否か？本番用の場合は1にする。
// 0の場合はpxで出力される。パーフェクトピクセルで合わせる時に便利。
$production: 1;
// $production: 0; //Perfect Pixelの時だけ


//-----------------------------------------------------
//  scss: ブレークポイント関数
//-----------------------------------------------------

$breakpoints: (
  "md": "screen and (min-width: #{$breakpoint-md}px)",
  "lg": "screen and (min-width: #{$breakpoint-lg}px)",
) !default;

@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}


//-----------------------------------------------------
//  scss: 変換関数群
//-----------------------------------------------------

// SP用: vwへの変換
@function vw($px) {
	@if $production !=1 {
		@return $px * 1px;
	}

	@return calc($px * 100vw / $sp-full-width);
}

// タブレット用: vwへの変換
@function vwt($px) {
	@if $production !=1 {
		@return $px * 1px;
	}

	@return calc($px * 100vw / $pc-content-width);
}

// PC用: pxをremに変換
@function px2Rem($px) {
	@if $production !=1 {
		@return $px * 1px;
	}

	@return calc($px / 16) * 1rem;
}

// PC用: pxをvwに変換
// ヘッダーなどコンテンツ幅ベースではなくかんぷ幅ベースでvwを使いたい場合に使用。
// あまり使わない。
@function vwp($px) {
	@if $production !=1 {
		@return $px * 1px;
	}

	@return calc($px * 100vw / $pc-full-width);
}


//-----------------------------------------------------
//  ここから 基本設定
//-----------------------------------------------------

html {
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	color: #000;
	// background-color: #fff;
	font-family: "Noto Serif JP", serif;
	font-size: vw(16);
	font-weight: 400;
	line-height: 1.6;
	@include mq() {
		font-size: vwt(16);
	}
	@include mq(lg) {
		font-size: px2Rem(16);
	}
}

.marcellus-regular {
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
}

.eb-garamond {
	font-family: "EB Garamond", serif;
	font-weight: 400;
	font-style: normal;
}

img {
	display: block;
	max-width: 100%;
}

a {
	cursor: pointer;
	// transition-duration: 0.3s;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	// transition-timing-function: ease-out;
	text-decoration: none;
	opacity: 0.9;
}

img {
	vertical-align: bottom;
}

li {
	list-style: none;
}

h2.lead {
	padding-top: vw(32);
	padding-bottom: vw(34);
	@include mq() {
		padding-top: vwt(40);
		padding-bottom: vwt(40);
	}
	@include mq(lg) {
		padding-top: px2Rem(40);
		padding-bottom: px2Rem(40);
	}

	> span {
		display: block;
		text-align: center;
	}

	.leadEn {
		text-align: center;
		font-size: vw(30);
		font-weight: bold;
		@include mq() {
			font-size: vwt(45);
		}
		@include mq(lg) {
			font-size: px2Rem(45);
		}
	}
	.leadJa {
		text-align: center;
		font-size: vw(16);
		font-weight: 600;
		@include mq() {
			font-size: vwt(20);
		}
		@include mq(lg) {
			font-size: px2Rem(20);
		}
	}
}


//-----------------------------------------------------
//  ここから メインビジュアル
//-----------------------------------------------------

.main-visual {
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: vw(110);
	padding: vw(30) vw(20) vw(400) vw(25);
	background: url(/assets/image/main-visual_sp.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include mq() {
		margin-bottom: 0;
		padding: vwt(40) vwt(20) vwt(380) vwt(20);
		background: url(/assets/image/main-visual.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	@include mq(lg) {
		padding: px2Rem(40) px2Rem(20) px2Rem(270) px2Rem(20);
	}
	&__main-logo {
		width: vw(135);
		margin: 0 auto;
		@include mq() {
			width: vwt(162);
		}
		@include mq(lg) {
			width: px2Rem(162);
		}
	}
	&__main-container {
		position: relative;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		max-width: vw(375);
		@include mq() {
			justify-content: flex-start;
			max-width: vwt(768);
			margin-top: vwt(210);
			padding-left: 0;
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
			margin-top: px2Rem(210);
			padding-left: px2Rem(72);
		}

		margin-inline: auto;
	}
	&__main-info {
		position: absolute;
		top: vw(372);
		@include mq() {
			position: initial;
			// position: static;
		}
		@include mq(lg) {
		}
	}
	&__main-title-first {
		margin-bottom: vw(5);
		text-align: left;
		letter-spacing: vw(11);
		// letter-spacing: 0.6875em;
		font-size: vw(41);
		line-height: calc(51 / 41);
		@include mq() {
			margin-bottom: vwt(6);
			letter-spacing: vwt(14);
			// letter-spacing: 0.875em;
			font-size: vwt(50);
			line-height: calc(68 / 50);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(6);
			letter-spacing: px2Rem(14);
			font-size: px2Rem(50);
		}
	}
	&__main-title-second {
		text-align: left;
		letter-spacing: vw(6);
		// letter-spacing: 0.375em;
		font-size: vw(20);
		@include mq() {
			letter-spacing: vwt(7.5);
			// letter-spacing: 0.46875em;
			font-size: vwt(25);
		}
		@include mq(lg) {
			letter-spacing: px2Rem(7.5);
			font-size: px2Rem(25);
		}
	}
}


//-----------------------------------------------------
//  ここから CTA
//-----------------------------------------------------

.cta {
	max-width: 100%;
	margin: 0 auto;
	padding: vw(50) vw(16) vw(50) vw(16) ;
	@include mq() {
		padding-top: vwt(46);
		padding-bottom: vwt(46);
	}
	@include mq(lg) {
		padding-top: px2Rem(46);
		padding-bottom: px2Rem(46);
	}

	&__cta-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		max-width: vw(358);
		// height: vw(261);
		margin: 0 auto;
		padding: vw(20) vw(29) vw(34) vw(29);
		background-color: #f0f4ff;
		@include mq() {
			flex-direction: row;
			justify-content: space-between;
			width: vwt(1000);
			height: vwt(146);
			padding: vwt(40) vwt(48);
		}
		@include mq(lg) {
			width: px2Rem(1000);
			height: px2Rem(146);
			padding: px2Rem(40) px2Rem(48);
		}
	}
	&__cta-title {
		text-align: center;
		letter-spacing: vw(1.8);
		// letter-spacing: 0.1em;
		color: #111;
		font-size: vw(18);
		@include mq() {
			margin-bottom: vwt(3);
			letter-spacing: vwt(2.4);
			// letter-spacing: 0.15em;
			font-size: vwt(24);
		}
		@include mq(lg) {
			// margin-bottom: px2Rem(3);
			letter-spacing: px2Rem(2.4);
			font-size: px2Rem(24);
		}
	}
	&__cta-price {
		text-align: center;
		letter-spacing: vw(1.5);
		// letter-spacing: 0.09375em;
		color: #111;
		font-size: vw(14);
		@include mq() {
			text-align: left;
			letter-spacing: vwt(1.5);
			font-size: vwt(16);
		}
		@include mq(lg) {
			letter-spacing: px2Rem(1.5);
			font-size: px2Rem(16);
		}
		.tax {
			margin-right: vw(8);
			@include mq() {
				margin-right: vwt(8);
			}
			@include mq(lg) {
				margin-right: px2Rem(8);
			}
		}
	}
}
.button {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	@include mq() {
		flex-direction: row;
	}
	&__button-link {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		width: vw(300);
		height: vw(58);
		margin: 0;
		color: #fff;
		border-radius: vw(29);
		font-size: vw(18);
		font-weight: 600;
		line-height: 2.25;
		@include mq() {
			width: vwt(300);
			height: vwt(58);
			border-radius: vwt(29);
			font-size: vwt(18);
		}
		@include mq(lg) {
			width: px2Rem(300);
			height: px2Rem(58);
			border-radius: px2Rem(29);
			font-size: px2Rem(18);
		}
	}
	&__button-onlineshop {
		margin-top: vw(20);
		margin-bottom: vw(20);
		background-color: #46c4db;
		@include mq() {
			margin-top: 0;
			margin-right: vwt(32);
			margin-bottom: 0;
		}
		@include mq(lg) {
			margin-right: px2Rem(32);
		}
	}
	&__button-buy {
		background-color: #5dd5ab;
	}
}


//-----------------------------------------------------
//  ここから 商品紹介-
//-----------------------------------------------------

.product {
	max-width: 100%;
	margin: 0 auto;
	padding: vw(45) vw(18) vw(310) vw(18);
	background: url(/assets/image/pht_product_sp.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include mq() {
		padding: vwt(58) vwt(20) vwt(95) vwt(20);
		background: url(/assets/image/pht_product.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	@include mq(lg) {
		padding: px2rem(58) px2rem(20) px2rem(95) px2rem(20);
	}
	&__product-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		max-width: vw(358);
		margin: 0 auto;
		@include mq() {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			justify-content: flex-end;
			max-width: vwt(768);
			padding-top: vwt(20);
			padding-right: 0;
			padding-left: vwt(420);

			margin-inine: auto ;
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
			padding-top: px2Rem(50);
			padding-left: px2Rem(680);
		}
	}
	&__product-title-first {
		margin-bottom: vw(5);
		text-align: center;
		color: #fff;
		font-size: vw(30);
		@include mq() {
			margin-bottom: 0;
			text-align: left;
			font-size: vwt(35);
		}
		@include mq(lg) {
			font-size: px2Rem(39);
		}
	}
	&__product-title-second {
		margin-bottom: vw(10);
		text-align: center;
		color: #fff;
		font-size: vw(24);
		@include mq() {
			margin-bottom: vwt(14);
			text-align: left;
			font-size: vwt(24);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(14);
			font-size: px2Rem(24);
		}
	}
	&__product-title-detail {
		width: 100%;
		text-align: justify;
		color: #fff;
		font-size: vw(13.5);
		line-height: calc(32 / 13.5);
		@include mq() {
			max-width: vwt(429);
			font-size: vwt(14);
		}
		@include mq(lg) {
			max-width: px2Rem(429);
			font-size: px2Rem(14);
		}
	}
}


//-----------------------------------------------------
//  ここから お客様の声
//-----------------------------------------------------

.voice {
	max-width: 100%;
	margin: 0 auto;
	padding-top: vw(40);
	padding-bottom: vw(50);
	@include mq() {
		padding-top: vwt(40);
		padding-bottom: vwt(60);
	}
	@include mq(lg) {
		padding-top: px2Rem(70);
		padding-bottom: px2Rem(80);
	}
	&__voice-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: vw(358);
		margin: 0 auto;
		padding-right: vw(16);
		padding-left: vw(16);
		@include mq() {
			max-width: vwt(768);
			padding-right: 0;
			padding-left: 0;
		}
		@include mq(lg) {
			width: 68%;
			max-width: px2Rem(1200);
		}
	}
	.lead {
		margin-bottom: vw(35);
		padding: 0;
		@include mq() {
			marging-bottom: vwt(10);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(40);
		}
	}
}
.visual {
	max-width: 90%;
	margin: 0 auto;
	// margin-top: vw(10);
	// margin-bottom: 0;
	padding: 0;
	@include mq() {
		// display: flex;
		// align-items: center;
		// flex-direction: row;
		// justify-content: space-between;
		// max-width: vwt(1020);
		max-width: 100%;
		// margin-top: vwt(5);
	}
	@include mq(lg) {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		// max-width: px2Rem(1020);
		// margin-top: px2Rem(5);
	}
	&__voice-card {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		width: vw(280);
		height: vw(344);
		height: auto;
		margin-right: vw(15);
		margin-left: vw(15);
		padding: vw(35) vw(15) vw(25) vw(10);
		background-color: #dbf7f9;
		@include mq() {
			// width: vwt(300);
			max-width: 100%;
			// height: vwt(388);
			margin-right: vwt(15);
			margin-left: vwt(15);
			padding: vwt(40) vwt(20);
		}
		@include mq(lg) {
			width: px2Rem(300);
			height: px2Rem(388);
			margin-right: px2Rem(15);
			margin-left: px2Rem(15);
			padding: px2Rem(40) px2Rem(20);
		}
	}
	&__voice-figure {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: vw(80);
		height: vw(80);
		margin: 0 auto;
		margin-bottom: vw(35);
		padding-top: vwt(20);
		@include mq() {
			width: vwt(100);
			height: vwt(100);
			margin-bottom: vwt(40);
			padding-top: vwt(30);
		}
		@include mq(lg) {
			width: px2Rem(100);
			height: px2Rem(100);
			margin-bottom: px2Rem(40);
			padding-top: vwt(30);
		}
		img {
			margin-bottom: vw(8);
			@include mq() {
				margin-bottom: vwt(8);
			}
			@include mq(lg) {
				margin-bottom: px2Rem(8);
			}
		}
	}
	&__voice-figcaption {
		margin: 0 auto;
		text-align: center;
		font-size: vw(14);
		@include mq() {
			font-size: vwt(15);
		}
		@include mq(lg) {
			font-size: px2Rem(15);
		}
	}
	&__voice-detail {
		margin: 0 auto;
		text-align: left;
		font-size: vw(14);
		line-height: calc(28 / 14);
		@include mq() {
			font-size: vwt(16);
			line-height: calc(28/ 16);
		}
		@include mq(lg) {
			font-size: px2Rem(16);
			line-height: calc(28/ 16);
		}
	}
}


//-----------------------------------------------------
//   ここから スライダーボタンのカスタマイズ
//-----------------------------------------------------

$slick-dot-color: #00afbf !default;
$slick-dot-color-active: #00afbf  !default;
$slick-dot-size: 35px !default;
$slick-dot-size: 40px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

.slick-dots {
	bottom: vw(-30);
	@include mq() {
		bottom: vw(-15);
	};
	@include mq(lg) {
		bottom: px2Rem(-36);
	}
	li {
		width: vw(14);
		margin: 0 2px;
		@include mq() {
			width: vwt(14);
		};
		@include mq(lg) {
			width: px2Rem(14);
		}
		&.slick-active button:before {
			opacity: $slick-opacity-default;
			color: $slick-dot-color-active;
		}
	}
}

.slick-dots li button:before {
	text-align: center;
	opacity: 1;
	color: #eee ;
	font-size: vw(10);
	@include mq() {
		font-size: vwt(10);
	};
	@include mq(lg) {
		font-size: px2Rem(10);
	}
}
.slick-dots li.slick-active button:before {
	color: #00afbf ;
}

//-----------------------------------------------------
//   ここから Sliderカスタマイズ
//-----------------------------------------------------

.slide-arrow {
	position: absolute;
	top: 0;
	bottom: 0;
	width: vw(32);
	margin: auto;
	cursor: pointer;
	@include mq() {
		width: vwt(48);
	}
	@include mq(lg) {
		width: px2Rem(48);
	}
}
.prev-arrow {
	left: vw(-30);
	@include mq() {
		left: vwt(-65);
	}
	@include mq(lg) {
		left: px2Rem(-65);
	}
}
.next-arrow {
	right: vw(-30);
	@include mq() {
		right: vwt(-65);
	}
	@include mq(lg) {
		right: px2Rem(-65);
	}
}


//-----------------------------------------------------
//  ここから よくあるご質問
//-----------------------------------------------------

.qa {
	position: relative;
	margin: 0 auto;
	padding-top: px2Rem(25);
	padding-right: vw(16);
	padding-bottom: vw(15);
	padding-left: vw(16);
	background-image: linear-gradient(to right, #f4ffe8, #c6f0fe);
	@include mq() {
		margin: 0 auto;
		padding-top: vwt(35);
		padding-right: vwt(40);
		padding-bottom: vwt(25);
		padding-left: vwt(40);
	}
	@include mq(lg) {
		padding-top: px2Rem(35);
		padding-right: px2Rem(40);
		padding-bottom: px2Rem(20);
		padding-left: px2Rem(40);
	}

	.lead {
		margin-bottom: vw(35);
		padding: 0;
		@include mq() {
			margin-bottom: vwt(40);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(40);
		}
	}
}
.accordion {
	max-width: 100%;
	margin: 0 auto;
	@include mq() {
		width: vwt(600);
	}
	@include mq(lg) {
		width: px2Rem(600);
	}
	&__toggle {
		display: none;
	}
	&__faq:not(last-child) {
		position: relative;
		margin-bottom: 1.2rem;
	}
	&__question, &__answer {
		transition: all 0.3s;
		transform: translateZ(0);
		background-color: #fff;
	}
	&__question {
		display: block;
		height: vw(88);
		padding: vw(19) vw(22) vw(19) vw(22);
		padding-left: 2.6em;
		text-indent: -1.5em;
		color: #444;
		font-size: vw(15);
		font-weight: 500;
		@include mq() {
			height: vwt(76);
			padding: vwt(16) vwt(40) vwt(16) vwt(50);
			padding-left: 2.7em;
			text-indent: -1.7em;
			font-size: vwt(15);
		}
		@include mq(lg) {
			height: px2Rem(76);
			padding: px2Rem(16) px2Rem(40) px2Rem(16) px2Rem(50);
			font-size: px2Rem(15);
		}
	}
	&__question span, &__answer span {
		padding-right: vw(15);
		font-size: vw(16);
		font-weight: 600;
		line-height: 0;
		@include mq() {
			padding-right: vw(16);
			font-size: vwt(18);
		}
		@include mq(lg) {
			padding-right: px2Rem(16);
			font-size: px2Rem(18);
		}
	}
	&__question:after, &__question:before {
		position: absolute;
		top: vw(26);
		right: vw(18);
		width: vw(10);
		height: vw(6.5);
		margin: auto;
		content: "";
		transition: all 0.3s;
		@include mq() {
			top: vwt(30);
			right: vwt(24);
			width: vwt(12);
			height: vwt(7.5);
		}
		@include mq(lg) {
			top: px2Rem(30);
			right: px2Rem(24);
			width: px2Rem(12);
			height: px2Rem(7.5);
		}
	}
	&__question:before {
		background: url(/assets/image/caret-down_sp.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		@include mq() {
			background: url(/assets/image/caret-down.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
	&__question:after {
		transform: rotate(180deg);
	}
	&__answer {
		overflow: hidden;
		max-height: 0;
	}
	&__answer div {
		width: 100%;
		margin: 0;
		padding: vw(16);
		line-height: calc(28 / 16);
		@include mq() {
			padding: vwt(16);
		}
		@include mq(lg) {
			padding: px2Rem(16);
		}
	}
	&__toggle:checked + &__question + &__answer {
		max-height: vw(500);
		transition: all 1.5s;
		@include mq() {
			max-height: vwt(500);
		}
		@include mq(lg) {
			max-height: px2Rem(500);
		}
	}
	&__toggle:checked + &__question:before {
		transform: rotate(180deg) !important;
	}
	.indent {
		width: vw(340);
		margin-left: 1.2em;
		padding-top: 0;
		padding-bottom: vw(40);
		padding-left: 1.4em;
		text-align: justify;
		text-indent: -1.4em;
		font-size: vw(15);
		font-weight: 500;
		@include mq() {
			width: vwt(555);
			margin-left: 1.7em;
			padding-bottom: vwt(20);
			padding-left: 1.9em;
			text-indent: -1.9em;
			font-size: vwt(15);
		}
		@include mq(lg) {
			width: px2Rem(555);
			padding-bottom: px2Rem(20);
			font-size: px2Rem(15);
		}
	}
	.eb-garamond {
		padding-right: vw(5);
		font-size: vw(18);
		@include mq() {
			padding-right: vwt(10);
			font-size: vwt(18);
		}
		@include mq(lg) {
			padding-right: px2Rem(10);
			font-size: px2Rem(18);
		}
	}
}


//-----------------------------------------------------
//  ここから トップへ戻るボタン-
//-----------------------------------------------------

.to-top {
	&__to-top-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		max-width: vw(358);
		margin: 0 auto;
		@include mq() {
			max-width: vwt(768);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
		}
	}
}
#back-to-top {
	position: sticky;
	// position: fixed;
	z-index: 1;
	right: 0;
	bottom: 0;
	// display: flex;
	visibility: hidden; /* マウスイベントを防ぐため */
	// justify-content: flex-end;
	width: vw(32);
	height: vw(32);
	padding-bottom: vw(16);
	padding-left: vw(374);
	cursor: pointer;
	transition: opacity 0.3s, visibility 0.3s; /* フェードイン/アウトのアニメーション */
	text-align: center;
	opacity: 0; /* 最初は非表示 */
	background: url(/assets/image/to-top_sp.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: contain;
	@include mq() {
		width: vwt(40);
		height: vwt(40);
		padding-bottom: vwt(16);
		padding-left: calc(100% - 16px);
		background: url(/assets/image/to-top.jpg);
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: contain;
	}
	@include mq(lg) {
		width: px2Rem(40);
		height: px2Rem(40);
		padding-bottom: px2Rem(16);
	}
}
#back-to-top.show {
	visibility: visible; /* クリック可能に */
	opacity: 1; /* 表示 */
}


//-----------------------------------------------------
//  ここから フッター
//-----------------------------------------------------

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: vw(165);
	margin: 0 auto;
	padding: 0;
	background-color: #0071ce;
	@include mq() {
		height: vwt(165);
	}
	@include mq(lg) {
		height: px2Rem(104);
	}

	&__footer-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
		@include mq() {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-between;
			max-width: vwt(768);
			margin: 0 auto;
			padding: 0;
		}
		@include mq(lg) {
			flex-direction: row;
			max-width: px2Rem(1200);
			padding: 0 px2Rem(35);;
		}
	}
	&__footer-logo {
		width: vw(162);
		height: vw(37);
		margin-bottom: vw(25);
		@include mq() {
			width: vwt(186);
			height: vwt(43);
			margin-bottom: vwt(15);
		}
		@include mq(lg) {
			width: px2Rem(186);
			height: px2Rem(43);
			margin-bottom: 0;
		}
	}
	&__footer-list {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		margin-bottom: vw(25);
		text-align: center;
		color: #fff;
		font-size: vw(12);
		@include mq() {
			margin-bottom: vwt(15);
			font-size: vwt(14);

			gap: vwt(30);
		}
		@include mq(lg) {
			margin-bottom: 0;
			font-size: px2Rem(14);

			gap: px2Rem(30);
		}  gap: vw(30);
	}
	a {
		color: #fff;
		@include mq() {
		}
		@include mq(lg) {
		}
	}
	a:hover {
		color: #fff;
		@include mq() {
		}
		@include mq(lg) {
		}
	}
	&__footer-copywrite {
		text-align: center;
		color: #fff;
		font-size: vw(11);
		@include mq() {
			font-size: vwt(12);
		}
		@include mq(lg) {
			font-size: px2Rem(12);
		}
	}
}