@charset "UTF-8";

// ---------- scss: 変数設定 ---------- 

$sp-full-width: 390;
$pc-full-width: 1500;
$pc-content-width: 1200;
$breakpoint-md: 768;
$breakpoint-lg: $pc-content-width;
$production: 1;


// ---------- scss: ブレークポイント関数 ---------- 

$breakpoints: (
  "md": "screen and (min-width: #{$breakpoint-md}px)",
  "lg": "screen and (min-width: #{$breakpoint-lg}px)",
) !default;

@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}


// ---------- scss: 変換関数群 ---------- 

@function vw($px) {
	@if $production !=1 {
		@return $px * 1px;
	}

	@return calc($px * 100vw / $sp-full-width);
}

@function vwt($px) {
	@if $production !=1 {
		@return $px * 1px;
	}

	@return calc($px * 100vw / $pc-content-width);
}

@function px2Rem($px) {
	@if $production !=1 {
		@return $px * 1px;
	}

	@return calc($px / 16) * 1rem;
}

@function vwp($px) {
	@if $production !=1 {
		@return $px * 1px;
	}

	@return calc($px * 100vw / $pc-full-width);
}


// ---------- ここから 基本設定 ---------- 

html {
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	color: #000;
	font-family: "Noto Serif JP", serif;
	font-size: vw(16);
	font-weight: 400;
	line-height: 1.6;
	@include mq() {
		font-size: vwt(16);
	}
	@include mq(lg) {
		font-size: px2Rem(16);
	}
}

.marcellus-regular {
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
}

.eb-garamond {
	font-family: "EB Garamond", serif;
	font-weight: 400;
	font-style: normal;
}

img {
	display: block;
	max-width: 100%;
}

a {
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
	opacity: 0.9;
}

img {
	vertical-align: bottom;
}

li {
	list-style: none;
}

.lead {
	> span {
		display: block;
		text-align: center;
	}
	.leadEn {
		text-align: center;
		font-size: vw(30);
		font-weight: bold;
		@include mq() {
			font-size: vwt(45);
		}
		@include mq(lg) {
			font-size: px2Rem(45);
		}
	}
	.leadJa {
		text-align: center;
		font-size: vw(16);
		font-weight: 600;
		@include mq() {
			font-size: vwt(20);
		}
		@include mq(lg) {
			font-size: px2Rem(20);
		}
	}
}


// ---------- ここから メインビジュアル ---------- 

.main-visual {
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: vw(110);
	padding: vw(30) vw(20) vw(400) vw(25);
	background: url(/assets/image/main_visual_sp.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include mq() {
		margin-bottom: 0;
		padding: vwt(40) vwt(20) vwt(380) vwt(20);
		background: url(/assets/image/main_visual.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	@include mq(lg) {
		padding: px2Rem(40) px2Rem(20) px2Rem(270) px2Rem(20);
	}
	&__main-logo {
		width: vw(135);
		margin: 0 auto;
		@include mq() {
			width: vwt(162);
		}
		@include mq(lg) {
			width: px2Rem(162);
		}
	}
	&__main-container {
		position: relative;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		max-width: vw(375);
		@include mq() {
			justify-content: flex-start;
			max-width: vwt(768);
			margin-top: vwt(210);
			padding-left: 0;
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
			margin-top: px2Rem(210);
			padding-left: px2Rem(72);
		}

		margin-inline: auto;
	}
	&__main-info {
		position: absolute;
		top: vw(372);
		@include mq() {
			position: initial;
		}
		@include mq(lg) {
		}
	}
	&__main-title-first {
		margin-bottom: vw(5);
		text-align: left;
		letter-spacing: vw(11);
		font-size: vw(41);
		line-height: calc(51 / 41);
		@include mq() {
			margin-bottom: vwt(6);
			letter-spacing: vwt(14);
			font-size: vwt(50);
			line-height: calc(68 / 50);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(6);
			letter-spacing: px2Rem(14);
			font-size: px2Rem(50);
		}
	}
	&__main-title-second {
		text-align: left;
		letter-spacing: vw(6);
		font-size: vw(20);
		@include mq() {
			letter-spacing: vwt(7.5);
			font-size: vwt(25);
		}
		@include mq(lg) {
			letter-spacing: px2Rem(7.5);
			font-size: px2Rem(25);
		}
	}
}


// ---------- ここから CTA ---------- 

.cta {
	max-width: 100%;
	margin: 0 auto;
	padding: vw(50) vw(16) vw(50) vw(16) ;
	@include mq() {
		padding-top: vwt(46);
		padding-bottom: vwt(46);
	}
	@include mq(lg) {
		padding-top: px2Rem(46);
		padding-bottom: px2Rem(46);
	}

	&__cta-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		max-width: vw(358);
		margin: 0 auto;
		padding: vw(20) vw(29) vw(34) vw(29);
		background-color: #f0f4ff;
		@include mq() {
			flex-direction: row;
			justify-content: space-between;
			width: vwt(1000);
			height: vwt(146);
			padding: vwt(40) vwt(48);
		}
		@include mq(lg) {
			width: px2Rem(1000);
			height: px2Rem(146);
			padding: px2Rem(40) px2Rem(48);
		}
	}
	&__cta-title {
		text-align: center;
		letter-spacing: vw(1.8);
		color: #111;
		font-size: vw(18);
		@include mq() {
			margin-bottom: vwt(3);
			letter-spacing: vwt(2.4);
			font-size: vwt(24);
		}
		@include mq(lg) {
			letter-spacing: px2Rem(2.4);
			font-size: px2Rem(24);
		}
	}
	&__cta-price {
		text-align: center;
		letter-spacing: vw(1.5);
		color: #111;
		font-size: vw(14);
		@include mq() {
			text-align: left;
			letter-spacing: vwt(1.5);
			font-size: vwt(16);
		}
		@include mq(lg) {
			letter-spacing: px2Rem(1.5);
			font-size: px2Rem(16);
		}
		.tax {
			margin-right: vw(8);
			@include mq() {
				margin-right: vwt(8);
			}
			@include mq(lg) {
				margin-right: px2Rem(8);
			}
		}
	}
}
.button {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	@include mq() {
		flex-direction: row;
	}
	&__button-link {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		width: vw(300);
		height: vw(58);
		margin: 0;
		color: #fff;
		border-radius: vw(29);
		font-size: vw(18);
		font-weight: 600;
		@include mq() {
			width: vwt(300);
			height: vwt(58);
			border-radius: vwt(29);
			font-size: vwt(18);
		}
		@include mq(lg) {
			width: px2Rem(300);
			height: px2Rem(58);
			border-radius: px2Rem(29);
			font-size: px2Rem(18);
		}
	}
	&__button-onlineshop {
		margin-top: vw(20);
		margin-bottom: vw(20);
		background-color: #46c4db;
		@include mq() {
			margin-top: 0;
			margin-right: vwt(32);
			margin-bottom: 0;
		}
		@include mq(lg) {
			margin-right: px2Rem(32);
		}
	}
	&__button-buy {
		background-color: #5dd5ab;
	}
}


// ---------- ここから 商品紹介 ---------- 

.product {
	max-width: 100%;
	margin: 0 auto;
	padding: vw(45) vw(18) vw(310) vw(18);
	background: url(/assets/image/pht_product_sp.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include mq() {
		padding: vwt(58) vwt(20) vwt(95) vwt(20);
		background: url(/assets/image/pht_product.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	@include mq(lg) {
		padding: px2Rem(58) px2Rem(20) px2Rem(95) px2Rem(20);
	}
	&__product-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		max-width: vw(358);
		margin: 0 auto;
		@include mq() {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			justify-content: flex-end;
			max-width: vwt(768);
			padding-top: vwt(20);
			padding-right: 0;
			padding-left: vwt(420);

			margin-inline: auto ;
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
			padding-top: px2Rem(50);
			padding-left: px2Rem(680);
		}
	}
	&__product-title-first {
		margin-bottom: vw(5);
		text-align: center;
		color: #fff;
		font-size: vw(30);
		@include mq() {
			margin-bottom: 0;
			text-align: left;
			font-size: vwt(35);
		}
		@include mq(lg) {
			font-size: px2Rem(39);
		}
	}
	&__product-title-second {
		margin-bottom: vw(10);
		text-align: center;
		color: #fff;
		font-size: vw(24);
		@include mq() {
			margin-bottom: vwt(14);
			text-align: left;
			font-size: vwt(24);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(14);
			font-size: px2Rem(24);
		}
	}
	&__product-title-detail {
		width: 100%;
		text-align: justify;
		color: #fff;
		font-size: vw(13.5);
		line-height: calc(32 / 13.5);
		@include mq() {
			max-width: vwt(429);
			font-size: vwt(14);
		}
		@include mq(lg) {
			max-width: px2Rem(429);
			font-size: px2Rem(14);
		}
	}
}


// ---------- ここから お客様の声 ---------- 

.voice {
	max-width: 100%;
	margin: 0 auto;
	padding-top: vw(45);
	padding-bottom: vw(55);
	@include mq() {
		padding-top: vwt(50);
		padding-bottom: vwt(60);
	}
	@include mq(lg) {
		padding-top: px2Rem(70);
		padding-bottom: px2Rem(80);
	}
	&__voice-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: vw(358);
		margin: 0 auto;
		padding-right: vw(16);
		padding-left: vw(16);
		@include mq() {
			max-width: vwt(768);
			padding-top: 0;
			padding-right: 0;
			padding-left: 0;
		}
		@include mq(lg) {
			width: 68%;
			max-width: px2Rem(1200);
		}
	}
	.lead {
		margin-bottom: vw(35);
		padding: 0;
		@include mq() {
			margin-bottom: vwt(40);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(40);
		}
	}
}
.visual {
	max-width: 90%;
	margin: 0 auto;
	padding: 0;
	@include mq() {
		max-width: 100%;
	}
	@include mq(lg) {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}
	&__voice-card {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		width: vw(280);
		margin-right: vw(15);
		margin-left: vw(15);
		padding: vw(40) vw(15) vw(25) vw(15);
		background-color: #dbf7f9;
		@include mq() {
			max-width: 100%;
			margin-right: vwt(15);
			margin-left: vwt(15);
			padding: vwt(40) vwt(20);
		}
		@include mq(lg) {
			width: px2Rem(300);
			margin-right: px2Rem(15);
			margin-left: px2Rem(15);
			padding: px2Rem(40) px2Rem(20);
		}
	}
	&__voice-figure {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: vw(80);
		height: vw(80);
		margin: 0 auto;
		margin-bottom: vw(30);
		padding-top: vwt(20);
		@include mq() {
			width: vwt(100);
			height: vwt(100);
			margin-bottom: vwt(40);
			padding-top: vwt(40);
		}
		@include mq(lg) {
			width: px2Rem(100);
			height: px2Rem(100);
			margin-bottom: px2Rem(40);
			padding-top: px2Rem(30);
		}
		img {
			margin-bottom: vw(8);
			@include mq() {
				margin-bottom: vwt(8);
			}
			@include mq(lg) {
				margin-bottom: px2Rem(8);
			}
		}
	}
	&__voice-figcaption {
		margin: 0 auto;
		text-align: center;
		font-size: vw(14);
		@include mq() {
			font-size: vwt(15);
		}
		@include mq(lg) {
			font-size: px2Rem(15);
		}
	}
	&__voice-detail {
		margin: 0 auto;
		text-align: left;
		font-size: vw(14);
		line-height: calc(28 / 14);
		@include mq() {
			font-size: vwt(16);
			line-height: calc(28/ 16);
		}
		@include mq(lg) {
			font-size: px2Rem(16);
			line-height: calc(28/ 16);
		}
	}
}


// ---------- ここから スライダー ---------- 

$slick-dot-color: #00afbf !default;
$slick-dot-color-active: #00afbf  !default;
$slick-dot-size: 35px !default;
$slick-dot-size: 40px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

.slick-dots {
	bottom: vw(-30);
	@include mq() {
		bottom: vwt(-40);
	};
	@include mq(lg) {
		bottom: px2Rem(-36);
	}
	li {
		width: vw(14);
		margin: 0 vw(2);
		@include mq() {
			width: vwt(8);
		}
		@include mq(lg) {
			width: px2Rem(4);
		}
		&.slick-active button:before {
			opacity: $slick-opacity-default;
			color: $slick-dot-color-active;
		}
	}
}

.slick-dots li button:before {
	text-align: left;
	opacity: 1;
	color: #eee ;
	font-size: vw(10);
	@include mq() {
		font-size: vwt(10);
	}
	@include mq(lg) {
		font-size: px2Rem(10);
	}
}
.slick-dots li.slick-active button:before {
	color: #00afbf ;
}

.slide-arrow {
	position: absolute;
	top: 0;
	bottom: 0;
	width: vw(32);
	margin: auto;
	cursor: pointer;
	@include mq() {
		width: vwt(48);
	}
	@include mq(lg) {
		width: px2Rem(48);
	}
}
.prev-arrow {
	left: vw(-30);
	@include mq() {
		left: vwt(-65);
	}
	@include mq(lg) {
		left: px2Rem(-65);
	}
}
.next-arrow {
	right: vw(-30);
	@include mq() {
		right: vwt(-65);
	}
	@include mq(lg) {
		right: px2Rem(-65);
	}
}


// ---------- ここから よくあるご質問 ---------- 

.qa {
	position: relative;
	margin: 0 auto;
	padding: vw(16) vw(16) vw(30) vw(16);
	background-image: linear-gradient(to right, #f4ffe8, #c6f0fe);
	@include mq() {
		margin: 0 auto;
		padding: vwt(35) vwt(40) vwt(40) vwt(40);
	}
	@include mq(lg) {
		padding: px2Rem(35) px2Rem(40) px2Rem(40) px2Rem(40);
	}
	.lead {
		margin-bottom: vw(35);
		padding: 0;
		@include mq() {
			margin-bottom: vwt(40);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(40);
		}
	}
}
.accordion {
	max-width: 100%;
	margin: 0 auto;
	@include mq() {
		width: vwt(600);
	}
	@include mq(lg) {
		width: px2Rem(600);
	}
	&__toggle {
		display: none;
	}
	&__faq:not(:last-child) {
		position: relative;
		margin-bottom: 1.2rem;
	}
	&__question, &__answer {
		transition: all 0.3s;
		transform: translateZ(0);
		background-color: #fff;
	}
	&__question {
		display: block;
		height: vw(89);
		padding: vw(16) vw(22) vw(16) vw(22);
		padding-left: 2.6em;
		text-indent: -1.5em;
		color: #444;
		font-size: vw(15);
		font-weight: 500;
		@include mq() {
			height: vwt(76);
			padding: vwt(24) vwt(40) vwt(14) vwt(50);
			padding-left: 3.1em;
			text-indent: -1.7em;
			font-size: vwt(15);
		}
		@include mq(lg) {
			height: px2Rem(76);
			padding: px2Rem(18) px2Rem(40) px2Rem(12) px2Rem(50);
			padding-left: 3.1em;
			text-indent: -1.7em;
			font-size: px2Rem(15);
		}
	}
	&__question span, &__answer span {
		padding-right: vw(15);
		font-size: vw(16);
		font-weight: 600;
		@include mq() {
			padding-right: vwt(16);
			font-size: vwt(18);
		}
		@include mq(lg) {
			padding-right: px2Rem(16);
			font-size: px2Rem(18);
		}
	}
	&__question:after, &__question:before {
		position: absolute;
		top: vw(28);
		right: vw(18);
		width: vw(10);
		height: vw(6.5);
		margin: auto;
		content: "";
		transition: all 0.3s;
		@include mq() {
			top: vwt(30);
			right: vwt(24);
			width: vwt(12);
			height: vwt(7.5);
		}
		@include mq(lg) {
			top: px2Rem(30);
			right: px2Rem(24);
			width: px2Rem(12);
			height: px2Rem(7.5);
		}
	}
	&__question:before {
		background: url(/assets/image/caret_down_sp.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		@include mq() {
			background: url(/assets/image/caret_down.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
	&__question:after {
		transform: rotate(180deg);
	}
	&__answer {
		overflow: hidden;
		max-height: 0;
	}
	&__answer div {
		width: 100%;
		margin: 0;
		padding: 0 vw(16) vw(16) vw(16);
		line-height: calc(28 / 16);
		@include mq() {
			padding: 0 vwt(16) vwt(16) vwt(16);
		}
		@include mq(lg) {
			padding: 0 px2Rem(16) px2Rem(16) px2Rem(16);
		}
	}
	&__toggle:checked + &__question + &__answer {
		max-height: vw(500);
		transition: all 1.5s;
		@include mq() {
			max-height: vwt(500);
		}
		@include mq(lg) {
			max-height: px2Rem(500);
		}
	}
	&__toggle:checked + &__question:before {
		transform: rotate(180deg) !important;
	}
	.indent {
		width: vw(340);
		margin-left: 1.2em;
		padding-top: 0;
		padding-bottom: vw(40);
		padding-left: 1.4em;
		text-align: justify;
		text-indent: -1.4em;
		font-size: vw(15);
		font-weight: 500;
		@include mq() {
			width: vwt(555);
			margin-left: 1.5em;
			padding-bottom: vwt(20);
			padding-left: 1.7em;
			text-indent: -1.7em;
			font-size: vwt(15);
		}
		@include mq(lg) {
			width: px2Rem(555);
			padding-bottom: px2Rem(20);
			font-size: px2Rem(15);
		}
	}
	.eb-garamond {
		padding-right: vw(5);
		font-size: vw(18);
		@include mq() {
			padding-right: vwt(10);
			font-size: vwt(18);
		}
		@include mq(lg) {
			padding-right: px2Rem(10);
			font-size: px2Rem(18);
		}
	}
}


// ---------- ここから トップへ戻るボタン ---------- 

.to-top {
	&__to-top-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		max-width: vw(358);
		margin: 0 auto;
		padding: 0 vw(16);
		@include mq() {
			max-width: vwt(768);
			padding: 0  vwt(16);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
			padding: 0 px2Rem(16);
		}
	}
}
#back-to-top {
	position: sticky;
	z-index: 1;
	bottom: vw(16);
	visibility: hidden;
	width: vw(40);
	height: vw(40);
	padding-left: calc(100% - vw(16));
	cursor: pointer;
	transition: opacity 0.3s, visibility 0.3s;
	text-align: center;
	opacity: 0;
	background: url(/assets/image/to_top_sp.svg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: contain;
	@include mq() {
		bottom: vwt(16);
		width: vwt(40);
		height: vwt(40);
		padding-left: calc(100% - vwt(16));
		background: url(/assets/image/to_top.svg);
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: contain;
	}
	@include mq(lg) {
		width: px2Rem(40);
		height: px2Rem(40);
		padding-bottom: px2Rem(16);
		padding-left: calc(100% - px2Rem(16));
	}
}
#back-to-top.show {
	visibility: visible;
	opacity: 1;
}


// ---------- ここから フッター ---------- 

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: vw(165);
	margin: 0 auto;
	padding: 0;
	background-color: #0071ce;
	@include mq() {
		height: vwt(165);
	}
	@include mq(lg) {
		height: px2Rem(104);
	}

	&__footer-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
		@include mq() {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-between;
			max-width: vwt(768);
			margin: 0 auto;
			padding: 0;
		}
		@include mq(lg) {
			flex-direction: row;
			max-width: px2Rem(1200);
			padding: 0 px2Rem(35);;
		}
	}
	&__footer-logo {
		width: vw(162);
		height: vw(37);
		margin-bottom: vw(25);
		@include mq() {
			width: vwt(186);
			height: vwt(43);
			margin-bottom: vwt(15);
		}
		@include mq(lg) {
			width: px2Rem(186);
			height: px2Rem(43);
			margin-bottom: 0;
		}
	}
	&__footer-list {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		margin-bottom: vw(25);
		text-align: center;
		color: #fff;
		font-size: vw(12);
		@include mq() {
			margin-bottom: vwt(15);
			font-size: vwt(14);

			gap: vwt(30);
		}
		@include mq(lg) {
			margin-bottom: 0;
			font-size: px2Rem(14);

			gap: px2Rem(30);
		}  gap: vw(30);
	}
	&__footer-link {
		color: #fff;
	}
	&__footer-link:hover {
		color: #fff;
	}
	&__footer-copywrite {
		text-align: center;
		color: #fff;
		font-size: vw(11);
		@include mq() {
			font-size: vwt(12);
		}
		@include mq(lg) {
			font-size: px2Rem(12);
		}
	}
}